body {
    font-family: Arial, sans-serif;
}
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: aquamarine;
    padding: 20px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="url"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}
input[type="submit"], button {
    width: 100%;
    padding: 10px;
    background-color:crimson;
    color: white;
    border: none;
    cursor: pointer;
}
.output {
    margin-top: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-container {
    flex: 1;
    margin-right: 20px;
}

.table-container {
    flex: 1;
    overflow-x: auto;
    max-width: 50%;
}
table{
    width: 70%;
}